@use "../../styles/variables" as var;
@use "../../styles/breakpoints" as bp;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}
